
@{
    ViewData["Title"] = "About Us";
}

<h1>About Downtown Libraries</h1>
<h2>Our Mission:</h2>
<p>At Downtown Library, we are very happy to provide easy access to information, 
    understanding literacy, and promoting lifelong learning. Our mission is to empower individuals, 
    enrich lives, and strengthen communities through the resources and services we offer.</p>
<h2>Our Team:</h2>
<p>Behind the team of Downtown Library, you'll find a dedicated team of librarians, 
    staff, and volunteers passionate about serving our community. With their help, they are here to assist you in navigating our resources and making 
    the most of your library experience.</p>

