@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Downtown Library web page</h1>
    <p>Welcome to Downtown Library, your way to a world of knowledge, 
        imagination, and community engagement. In the heart of our vibrant city, 
        Downtown Library stands as a beacon of learning and enrichment, 
        catering to the diverse needs and interests of ourcustomers.</p>
    <p>Please select which page you want to go into</p>

</div>
